nav a:hover {
    background-color: #ffffff;
}
header {
    font-size: 2em;
}
a:visited {
    color: #0cf532;
}

body {
    background-color: #ffffff;
    
}
p, ul, tr, th, li { color: #000;

}
nav {
    background-color: #f7d5d5;
}
nav a {
    color:#08010d;
}
nav {
    padding: 10px;
    margin-bottom: 30px;
}
h1, h2 {
    color: #000;
    font-size: 1.5em;
    text-align: center;
}
.h , h{font-size: 50em;
}
tr:nth-child(even) {background-color: #4287f5;}

.image1 {float: left; margin-right: 10px;}
.clear {clear:both;}
.pa {float: right;}
.part2 {display: flex;}
.part2 article {padding: 20px;}
.article1, .article2, .article3 {margin:10px;}
.article1 {flex:2; order:3; background-color:#cce5ff; border-radius: 1em;}
.article2 {flex:1; order:2;}
.article3 {flex:1; order:1;}
.im1 {
    width: 30px;
}
.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    
}
.skills2 {
    width: 15%;
    padding: 10px;
    margin: 10px;
    float: right;
    background-color: #fc8c03;
    border-radius: 1em;
    text-align: left;
    
}
.icons {
    display:flex;
    justify-content: space-between;
    flex: 2;
    margin: 30px;
}
p {
    margin: 30px;
}
.selfie {
    max-width: 100%;
}
@media only screen and (max-width: 601px) {
    .banner {display: none;}
    nav a {max-width: 100%;
    display: block;}
    nav span {display: none;}
}





